*{
	margin: 0;
	padding: 0;
	font-family: Times New Roman, serif;
	
}
body{
    background-color: lightgrey;
}
.navbar{
	width: 100%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
    background-color: black;
   
}
.logo{
    margin-left: 35px;
	width: 200px;
	cursor: pointer;
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin-right: 45px;
	position: relative;
    color: white;
}
.navbar ul li a{
	text-decoration: none;
	color:#fff;
	text-transform: uppercase;
}
.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0%;
	background: #009688;
	position: absolute;
	left: 0;
	Bottom: -10px;
	transition: 0.5s;
}
.navbar ul li:hover{
	transform: scale(1.4);
}

.about h1{
	text-align: center;
	font-size: 50px;
	margin-bottom:50px;
	margin-top: 50px;
	font-family: Georgia, serif;
	margin-right: 50px;
	letter-spacing: 5px;
	
}

.about p{
	text-align:left;
	font-size: 30px;
	line-height: 1.8;
	font-family: Georgia, serif;
	margin-right: 50px;
}

.about img{
	float: left;
	width:400px;
	height:600px;
	margin-right:40px;
	margin-left: 80px;
	margin-bottom: 50px;
	
}

td 
	{
		text-align: center;
		font-family: Georgia, serif;
		font-size: 20px;
		color: #424949;
		padding: 15px;
	}

footer{
    background-color: floralwhite;
    height: auto;
    width: 98.9vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #333;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h4{
    font-size: 24px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.footer-content li{
    margin: 0 10px;
    float: left;
}
.footer-content a{
    text-decoration: none;
}
.footer-bottom{
    background: floralwhite;
    width: 98.9vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 8px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .6;
    font-weight: 200;
}